<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijob-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Elementos</h2>

    <ul>
      <li>Element 1</li>
      <li>Element 2</li>
      <li>Element 3</li>
      <li>Element 4</li>
      <li>Element 5</li>
    </ul>

  </template>

  <script>
    /**
     * `hijob-component`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HijobComponent extends Polymer.Element {
      static get is() { return 'hijob-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'hijob-component'
          }
        };
      }
    }

    window.customElements.define(HijobComponent.is, HijobComponent);
  </script>
</dom-module>
